aside {
    div {
        position: fixed;
        margin:0;
        padding: 0;
        top: 30%;
        right: 0;
        width: 6%;
        background-color: black;
        a {
            img {
                background-color: black;
                border: 5px solid black;
                display: block;            
                width: 100%;
                margin:0;
                padding:0;
            }
        }
    }
}